.main {
     width: 100%;
    height: 100vh;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main h1 {
    font-size: 3rem;
    color: white;
    text-align: center; 
}
.image {
    width: 100%;
}
