@import url('../App.css');

.main-home {
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(41, 34, 34);
    height: 80vh;
    width: 100%;
    background-size: cover;
}


.home {
    display: flex;
    margin: 10%;
}
.home .image {
    width: 100%;
    height: 100%;
}
.home .image-holder {
    height: 100%;
    width: 100%;
    background: url('../assets/team.gif');
    background-repeat: no-repeat;
    position: absolute;
    right: -50%;
    top: 10%;
}
.home .tag-line {
    font-size: 3rem;
    width: 70%;
    color: #0D264C;
}
.home .tag-line .sub-tag-line {
    font-size: medium;
}

.home .tag-line .home-apply-btn {
    font-size: 1.5rem;
    height: 50px;
    width: 150px;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    text-decoration: none;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.home-apply-btn:hover {
    color: white;
}
.mouse {
    animation: bounce 1.5s linear infinite;
}
h6 {
    text-align: center;
    font-size: .7rem;
    animation: bounce 1.5s linear infinite;
}

@keyframes bounce {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}