h2 {
    text-align: center;
    margin-top: 20px;
}
.job-categories {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    /* height: 100vh; */
    margin: auto;
    width: 100%;
}
.jobs {
    width: 80%;
}
