h2 {
    text-align: center;
    margin-top: 20px;
}
.job-categories {
    height: 100vh;
    margin: auto;
    width: 100%;
}
.jobs {
    margin: 30px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}