h2 {
    text-align: center;
    margin-top: 20px;
}
.job-categories {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: auto;
    width: 100%;
}
.jobs {
    width: 40%;
}
.jd {
    width: 40%;
}
