.all_jobs_main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.all_jobs {
    margin: 20px;
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}